<h2><%= @list.name %></h2>



<%= link_to "Add new movie", new_list_path(@list), class: "btn btn-primary" %>
<%= link_to "Add bookmark", new_list_bookmark_path(@bookmark), class: "btn btn-primary" %>
